[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thamos = "*"
thoth-common = "*"
thoth-python = "*"
thoth-analyzer = "*"
thoth-storages = "*"
beautifulsoup4 = "*"
semver = "*"
thoth-messaging = "*"
prometheus-client = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
hypothesis-auto = "*"
hypothesis = "*"
pytest-mypy = "*"
mypy = "*"
pre-commit = "==2.0.1"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = false
