[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thamos = "*"
thoth-common = "*"
thoth-python = "*"
thoth-analyzer = "*"
thoth-storages = "*"
thoth-messaging = "*"
beautifulsoup4 = "*"
semver = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = false
